.cmcrm-bg-royal-blue{
	background: #546DFF;
}

.pro-hover:hover span.pro-hover{
	display: absolute;
	z-index: 9;
}

.pro-hover:hover {
	background: yellow;
}

span.pro-hover{
	display: none;
}


.pro-group-items{
	display: relative;
	height: 100px;
	min-width: 50px;
}

.pro-group-items > *{
	display: absolute;
}